<h2>Student List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Last Name </th>
            <th> First Name </th>
            <th> Middle Name </th>
            <th> Username </th>
            <th> Email </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td> {{ student.lastName }} </td>
            <td> {{ student.firstName }} </td>
            <td> {{ student.middleName }} </td>
            <td> {{ student.userName }} </td>
            <td> {{ student.email }} </td>
            <button></button>
        </tr>
    </tbody>
</table>
