<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Create Student</h3>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" 
                [(ngModel)]="student.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" class="form-control" id="middleName" 
                [(ngModel)]="student.middleName" name="middleName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" 
                [(ngModel)]="student.lastName" name="lastName">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>