<nav class="header">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="students" routerLinkActive="active" class="nav-link">
        Student List
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="create-student" routerLinkActive="active" class="nav-link">
        Add Student
      </a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> Student Management </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class = "container">
    <span>
      All Rights Reserved 2020
    </span>
  </div>
</footer>