/* You can add global styles to this file, and also import other style files */


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #007bff;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #007bff;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}